body {
    margin: 0 auto;
    max-width: 768px;
    font-family: 'Noto Serif SC', serif;
    box-sizing: border-box;
}

header {
    /* 水平左右分散垂直对齐 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
}

/* 使顶部导航栏固定在顶部 */
.float-top {
    position: fixed;
    top: 0;
    width: 768px;
    backdrop-filter: blur(4px);
    border-radius: 0 0 15px 15px;
}

.main {
    /* 指定高度后需要设置overflow才能生效 */
    /* 此处使用min-height而不是height，是为了将footer与main一起滑动 */
    margin: 10vh 10px 0px;
    min-height: calc(87vh);
    overflow: auto;
}

footer {
    border-top: 1px solid #ccc;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline dotted #FF9900;
    padding: 0 12px;
}

a:hover {
    color: #FF9900;
    /* text-decoration: none; */
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


.header-menu {
    display: flex;
}

.header-menu-scroll {
    max-width: 75vh;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.avHub-hub {
    border: 3px solid #FF9900;
    border-radius: 10px;
    background: #FF9900;
}

.videoItem {
    /* 块内元素水平居中显示 */
    display: flex;
    align-items: center;
    /* 超出宽度开始滑动 */
    max-width: 520px;
    /* 指定宽度后设置margin可居中 */
    margin: 10px auto 5px;
}

.video-img {
    vertical-align: middle;
    width: 22vh;
    margin: 15px;
}

.video-info {
    width: 75vh;
    overflow: auto;
}

p {
    margin: 1px auto;
}

#page-turning {
    text-align: center;
    margin: 15px auto;
}

.-webkit-scrollbar {
    background-color: #FF9900;
}