<!DOCTYPE html>
<html lang="zh-CN">

<head th:replace="~{fragments/head :: head(${'分类 | ' + site.title}, ${null}, ${null})}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main id="main-content" class="main">
        <header th:replace="~{fragments/second-menu :: secondMenu('分类')}"></header>

        <ul class="category-tree" th:if="${categories != null && !#lists.isEmpty(categories)}">
            <li th:each="category : ${categories}">
                <a th:href="@{${category.status.permalink}}" th:text="${category.spec.displayName}"></a>
                <th:block th:if="${not #lists.isEmpty(category.children)}">
                    <ul th:replace="~{modules/category-tree :: next (categories=${category.children})}"></ul>
                </th:block>
            </li>
        </ul>
        <div class="empty-state" th:if="${categories == null || #lists.isEmpty(categories)}">
            <p>暂无分类</p>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>
