<div th:fragment="header">
    <header class="header-1st">
        <h3 onclick="window.location.href='/'">Allin<span class="avHub-hub">Program</span></h3>
        <div class="header-menu">
            <a href="/">关于</a>
        </div>
    </header>
    <header class="header-2st">
        <h3 onclick="location.reload(true);" th:text="${currentPageInfo.pageTitle}"></h3>
        <div class="header-menu header-menu-scroll">
            <a href="/archives" style="writing-mode: vertical-lr">归档</a>
            <a href="/categories" style="writing-mode: vertical-lr">分类</a>
            <a href="/tags" style="writing-mode: vertical-lr">标签</a>
        </div>
    </header>
</div>

<footer th:fragment="footer">
    <!-- <halo:footer /> -->
    <span>Copyright©2022 Another Video Hub All rights reserved.</span>
    <!--    <br>-->
    <!--    <a href="https://beian.miit.gov.cn/" rel="external nofollow" target="_blank"></a>-->
</footer>