<div th:fragment="header">
    <header class="header-1st">
        <h3 onclick="window.location.href='/'">Allin<span class="avHub-hub">Program</span></h3>
        <div class="header-menu">
            <a href="/">关于</a>
        </div>
    </header>
    <header class="header-2st">
        <h3 onclick="location.reload(true);" th:text="${currentPageInfo.pageTitle}"></h3>
        <div class="header-menu header-menu-scroll">
            <a href="/?c=theLatest&" style="writing-mode: vertical-lr">最新视频</a>
            <a href="/?c=nowHot&" style="writing-mode: vertical-lr">当前最热</a>
            <a href="/?c=todayRank&" style="writing-mode: vertical-lr">今日排行</a>
            <a href="/?c=recentRefined&" style="writing-mode: vertical-lr">最近加精</a>
            <a href="/?c=thisMonthHot&" style="writing-mode: vertical-lr">本月最热</a>
            <a href="/?c=lastMonthHot&" style="writing-mode: vertical-lr">上月最热</a>
            <a href="/?c=thisMonthCollect&" style="writing-mode: vertical-lr">本月收藏</a>
            <a href="/?c=allTimeCollect&" style="writing-mode: vertical-lr">收藏最多</a>
        </div>
    </header>
</div>

<footer th:fragment="footer">
    <!-- <halo:footer /> -->
    <span>Copyright©2022 Another Video Hub All rights reserved.</span>
    <!--    <br>-->
    <!--    <a href="https://beian.miit.gov.cn/" rel="external nofollow" target="_blank"></a>-->
</footer>