<!DOCTYPE html>
<html lang="zh-CN">

<head th:replace="~{fragments/head :: head(${singlePage.spec.title + ' | ' + site.title}, ${singlePage.spec.excerpt}, ${singlePage.status.permalink})}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main id="main-content" class="main">
        <header th:replace="~{fragments/second-menu :: secondMenu(${singlePage.spec.title})}"></header>

        <article class="post-content">
            <div th:utext="${singlePage.content.content}"></div>
        </article>

        <div class="comment-section">
            <halo:comment group="content.halo.run" kind="SinglePage" th:attr="name=${singlePage.metadata.name}" />
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>
