<!DOCTYPE html>
<html>

<head th:replace="~{fragments/head :: head(${post.spec.title + ' | ' + site.title})}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="main">
        <header th:replace="~{fragments/second-menu :: secondMenu(${post.spec.title})}"></header>

        <article class="post-content">
            <div th:utext="${post.content.content}"></div>
        </article>

        <div class="comment-section">
            <halo:comment group="content.halo.run" kind="Post" name="${post.metadata.name}" />
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>