<!DOCTYPE html>
<html>

<head th:replace="~{fragments/head :: head(${tag.spec.displayName + ' | ' + site.title})}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="main">
        <header th:replace="~{fragments/second-menu :: secondMenu(${tag.spec.displayName})}"></header>

        <ul class="post-list">
            <li th:each="post : ${posts.items}" class="post-item">
                <a th:text="${post.spec.title}" th:href="@{${post.status.permalink}}"></a>
                <span class="post-date" th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"></span>
            </li>
        </ul>
        <div th:replace="~{fragments/pagination :: pagination(${posts})}"></div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>