<!DOCTYPE html>
<html>

<head th:replace="~{fragments/head :: head(${'标签 | ' + site.title})}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="main">
        <header th:replace="~{fragments/second-menu :: secondMenu('标签')}"></header>

        <ul class="tag-list">
            <li th:each="tag : ${tags}">
                <a th:text="${tag.spec.displayName}" th:href="@{${tag.status.permalink}}"></a>
            </li>
        </ul>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>