<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'标签 | ' + site.title}"></title>

    <link rel="stylesheet" th:href="@{/assets/css/style.css?v=v0.0.7-alpha}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap" media="all" rel="stylesheet" />
</head>

<body>
    <header th:replace="~{fragments :: header}"></header>

    <div class="main">
        <header th:replace="~{fragments :: secondMenu('标签')}"></header>

        <ul>
            <li th:each="tag : ${tags}">
                <a th:text="${tag.spec.displayName}" th:href="${tag.status.permalink}"></a>
            </li>
        </ul>
    </div>

    <footer th:replace="~{fragments :: footer}"></footer>

</body>

</html>